    <div class="header">
        <img id="burgerImage" src="/images/burger.png" alt="Cartoon burger">
    </div>
    <div class="container">
        <div class="leftContainer">
            <ul>
                {{#each burgers}}
                <li>
                    <p>ID: {{burger_id}}</p>
                    <p>Ordered Burger: {{burger_name}}</p>
                    <button data-burger_id="{{burger_id}}" class="devourBurger" >
                        Devour IT!</button>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="rightContainer">
            <ul>
                {{#each burgers}}
                <li>
                    <p>ID: {{burger_id}}</p>
                    <p>Devoured Burger: {{burger_name}}</p>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="container">
        <h2>Burger Devourer!</h2>

        <form class="addBurger">
            <textarea id="burger" name="name" cols="50" rows="10" type="text"></textarea><br>

            <button class="submitButton" type="submit">Order it!</button>
        </form>
        <h4>Enter a burger you want to eat!</h4>
    </div>
