<div class="header">
    <img id="burgerImage" src="/images/burger.png" alt="Cartoon burger">
</div>
<div class="burgerContainer">
    <div class="totalOrder">
        <h1>Ordered:</h1>
        {{#each burgers}}
        {{#unless devoured}}
            <div class="order">
            <p>Order Number: {{burger_id}}</p>
            <p>Ordered Burger: <strong>{{burger_name}}</strong></p>
            <button data-burger_id="{{burger_id}}" data-eatBurger="{{devoured}}" class="devourBurger" >Devour IT!</button>
            </div>
        {{/unless}}
        {{/each}}
    </div>
    <div class="totalDevoured">
        <h1>Devoured:</h1>
        {{#each burgers}}
            {{#if devoured}}
            <div class="devoured"> 
            <p>Order Number: {{burger_id}}</p>
            <p>Ordered Burger: <strong>{{burger_name}}</p></strong>
            </div>
        {{/if}}
        {{/each}}
    </div>
</div>

<div class="container">
    <h2>Burger Devourer!</h2>

    <form class="addBurger">
        <textarea id="burger" name="name" cols="50" rows="10" type="text"></textarea><br>

        <button class="submitButton" type="submit">Order it!</button>
    </form>
    <h4>Enter a burger you want to eat!</h4>
</div>
